body {
    background: #f7f9fc;
    font-family: 'Poppins', sans-serif;
  }
  
  .custom-btn {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 30px;
    transition: all 0.4s ease;
  }
  
  .custom-btn:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
  }